{{>head}}
<body>
    <div class="main-content">
    {{>header}}
    <p>This was create by {{name}}. It uses from Mapbox.com and weatherstack.com!</p>
    <img src="img/web.jpeg" class="portrait">   
    </div>

    {{>footer}}
</body>
</html>